<div class="container-fluid">
  <div class="row">
    <div class="list-group">
        <a href="<%= url_for( :action => :index, :query => { :scanner => @scanner } ) %>" class="list-group-item">
            Disable
        </a>
    </div>
  </div>

  <script type="text/javascript">
    var updateResults = function(result) {
        $('#txt_scan_results').append('<p>'+ result +'</p>')
    };
  </script>

  <div id="txt_scan_results">
  </div>
</div>
